In [53]:
import pandas as pd
import numpy as np

In [54]:
movies = pd.read_csv('../dataset/content_base_data.csv')
ratings = pd.read_csv('../dataset/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [55]:
ratings  = pd.merge(movies, ratings)[['movieId', 'userId', 'rating']]

In [56]:
ratings.head()

   movieId  userId  rating
0        1       1     4.0
1        1       5     4.0
2        1       7     4.5
3        1      15     2.5
4        1      17     4.5

###  Create the relationship between all of the movies and all of the users

In [57]:
userRatings = ratings.pivot_table(index=['userId'], columns=['movieId'], values='rating')

In [58]:
userRatings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
userRatings.shape

(610, 9724)

In [60]:
userRatings.shape

(610, 9724)

### convert NaN value into 0 and drop some movies have less than 10 ratings

In [61]:
userRatings = userRatings.dropna(thresh=10, axis=1).fillna(0, axis=1)
# userRatings = userRatings.fillna(0, axis=1)

### take out 20 users and your ratings to validate model

In [62]:
user_ratings_test = userRatings[0:20]
user_ratings_test

movieId,1,2,3,5,6,7,9,10,11,12,...,166461,166528,166643,168250,168252,174055,176371,177765,179819,187593
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,4.0,5.0,5.0,4.0,4.0,0.0,3.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,4.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,5.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,3.5,3.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
19,4.0,3.0,3.0,0.0,0.0,2.0,0.0,2.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### get remaining data to make model (matrix)

In [63]:
userRatings = userRatings.iloc[20:]
userRatings.head()

movieId,1,2,3,5,6,7,9,10,11,12,...,166461,166528,166643,168250,168252,174055,176371,177765,179819,187593
userId,,,,,,,,,,,,,,,,,,,,,
21,3.5,3.5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,5.0

In [64]:
corrMatrix = userRatings.corr(method='pearson')

In [65]:
corrMatrix.head()

movieId,1,2,3,5,6,7,9,10,11,12,...,166461,166528,166643,168250,168252,174055,176371,177765,179819,187593
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.240184,0.172615,0.207535,0.196009,0.153473,0.180028,0.190917,0.186230,0.157571,...,-0.004082,0.067661,0.113308,0.022727,0.059913,0.060680,0.055435,-0.013904,0.053806,0.022440
2,0.240184,1.000000,0.177264,0.187452,0.153206,0.113378,-0.020570,0.279952,0.199458,0.112815,...,0.049493,0.182158,0.051473,0.038195,0.189964,0.062922,0.154421,-0.020266,0.116819,0.121648
3,0.172615,0.177264,1.000000,0.350061,0.176689,0.333582,0.289529,0.127955,0.162128,0.167371,...,-0.035150,0.005596,0.021162,-0.030769,0.003703,0.048353,0.037278,-0.039869,0.029547,-0.039280
5,0.207535,0.187452,0.350061,1.000000,0.205528,0.414996,0.316428,0.098478,0.180574,0.179912,...,0.029937,0.009773,-0.005367,-0.004777,-0.021491,-0.003613,0.000310,-0.039893,-0.000993,-0.039304
6,0.196009,0.153206,0.176689,0.205528,1.000000,0.144228,0.172366,0.245913,0.180668,0.121109,...,-0.053633,0.117188,0.007144,0.039876,0.111446,0.080956,0.123140,-0.060834,0.016710,0.039685

In [109]:
columns_name = corrMatrix.columns
columns_name.values
columns_name = pd.DataFrame(columns_name)
columns_name.to_csv('columns_name.csv', index=False)

In [114]:
c = pd.read_csv('columns_name.csv')
c['movieId'].tolist()

[1,
 2,
 3,
 5,
 6,
 7,
 9,
 10,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 28,
 29,
 31,
 32,
 34,
 36,
 39,
 41,
 44,
 45,
 46,
 47,
 48,
 50,
 52,
 58,
 60,
 62,
 65,
 69,
 70,
 73,
 76,
 79,
 81,
 86,
 88,
 89,
 94,
 95,
 97,
 100,
 101,
 104,
 105,
 107,
 110,
 111,
 112,
 122,
 125,
 135,
 140,
 141,
 144,
 145,
 147,
 150,
 151,
 153,
 154,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 168,
 169,
 170,
 172,
 173,
 174,
 175,
 176,
 180,
 181,
 185,
 186,
 188,
 193,
 194,
 195,
 196,
 198,
 203,
 204,
 207,
 208,
 215,
 216,
 218,
 222,
 223,
 224,
 225,
 227,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 239,
 246,
 247,
 248,
 249,
 252,
 253,
 256,
 257,
 258,
 260,
 261,
 262,
 265,
 266,
 267,
 272,
 273,
 276,
 277,
 280,
 281,
 282,
 288,
 290,
 292,
 293,
 296,
 300,
 303,
 306,
 307,
 308,
 314,
 315,
 316,
 317,
 318,
 319,
 322,
 327,
 328,
 329,
 332,
 333,
 337,
 338,
 339,
 342,
 344,
 345,
 348,
 349,
 350,
 351,
 353,
 355,
 356,
 357,
 361,
 362,
 364,
 366,
 367,
 368,
 370,
 371,
 372,
 373,
 374,
 376,
 377,
 379,
 380,
 381,
 382,
 383,
 393,
 405,
 410,
 412,
 413,
 415,
 417,
 419,
 420,
 421,
 423,
 427,
 428,
 431,
 432,
 434,
 435,
 440,
 441,
 442,
 445,
 454,
 455,
 457,
 464,
 466,
 468,
 471,
 474,
 475,
 477,
 480,
 481,
 485,
 489,
 490,
 491,
 492,
 493,
 494,
 497,
 500,
 502,
 507,
 508,
 509,
 514,
 515,
 516,
 519,
 520,
 524,
 527,
 529,
 531,
 532,
 533,
 534,
 535,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 546,
 551,
 552,
 553,
 555,
 562,
 575,
 585,
 586,
 587,
 588,
 589,
 590,
 592,
 593,
 594,
 595,
 596,
 597,
 599,
 605,
 608,
 609,
 610,
 616,
 628,
 631,
 637,
 640,
 647,
 648,
 653,
 661,
 663,
 671,
 673,
 694,
 707,
 708,
 709,
 711,
 714,
 719,
 720,
 724,
 728,
 733,
 736,
 737,
 741,
 742,
 743,
 745,
 748,
 750,
 761,
 762,
 765,
 778,
 780,
 783,
 784,
 785,
 786,
 788,
 798,
 799,
 800,
 801,
 802,
 805,
 810,
 818,
 830,
 832,
 836,
 837,
 838,
 839,
 842,
 849,
 852,
 858,
 866,
 880,
 892,
 898,
 899,
 900,
 902,
 903,
 904,
 905,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 918,
 919,
 920,
 922,
 923,
 924,
 926,
 928,
 930,
 933,
 934,
 951,
 952,
 953,
 954,
 955,
 965,
 968,
 969,
 971,
 986,
 991,
 994,
 996,
 999,
 1007,
 1013,
 1015,
 1017,
 1019,
 1020,
 1021,
 1022,
 1023,
 1025,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1035,
 1036,
 1037,
 1041,
 1042,
 1047,
 1049,
 1057,
 1059,
 1060,
 1061,
 1064,
 1073,
 1077,
 1078,
 1079,
 1080,
 1081,
 1084,
 1086,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1100,
 1101,
 1103,
 1104,
 1120,
 1124,
 1125,
 1127,
 1129,
 1131,
 1135,
 1136,
 1147,
 1148,
 1171,
 1172,
 1173,
 1175,
 1178,
 1179,
 1183,
 1185,
 1186,
 1188,
 1189,
 1193,
 1194,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1203,
 1204,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1224,
 1225,
 1227,
 1228,
 1230,
 1231,
 1233,
 1234,
 1235,
 1237,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1250,
 1251,
 1252,
 1253,
 1254,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1262,
 1263,
 1265,
 1266,
 1267,
 1269,
 1270,
 1271,
 1272,
 1273,
 1274,
 1275,
 1276,
 1277,
 1278,
 1281,
 1282,
 1283,
 1284,
 1285,
 1287,
 1288,
 1289,
 1290,
 1291,
 1292,
 1293,
 1295,
 1296,
 1297,
 1298,
 1299,
 1301,
 1302,
 1303,
 1304,
 1307,
 1320,
 1321,
 1327,
 1333,
 1339,
 1342,
 1343,
 1344,
 1345,
 1347,
 1348,
 1350,
 1356,
 1357,
 1358,
 1359,
 1367,
 1370,
 1371,
 1372,
 1373,
 1374,
 1375,
 1376,
 1377,
 1378,
 1379,
 1380,
 1381,
 1385,
 1387,
 1388,
 1391,
 1393,
 1394,
 1396,
 1405,
 1407,
 1408,
 1409,
 1411,
 1416,
 1429,
 1431,
 1438,
 1441,
 1449,
 1457,
 1459,
 1464,
 1466,
 1474,
 1476,
 1479,
 1480,
 1483,
 1485,
 1488,
 1499,
 1500,
 1513,
 1515,
 1517,
 1518,
 1527,
 1537,
 1541,
 1544,
 1552,
 1556,
 1562,
 1566,
 1569,
 1573,
 1580,
 1584,
 1586,
 1587,
 1588,
 1589,
 1590,
 1591,
 1597,
 1603,
 1608,
 1610,
 1614,
 1615,
 1616,
 1617,
 1619,
 1620,
 1625,
 1635,
 1639,
 1641,
 1644,
 1645,
 1653,
 1663,
 1665,
 1672,
 1673,
 1674,
 1676,
 1678,
 1680,
 1682,
 1687,
 1688,
 1690,
 1693,
 1702,
 1704,
 1711,
 1717,
 1719,
 1721,
 1722,
 1726,
 1729,
 1732,
 1735,
 1747,
 1748,
 1753,
 1754,
 1760,
 1769,
 1772,
 1777,
 1779,
 1784,
 1792,
 1799,
 1801,
 1805,
 1810,
 1831,
 1833,
 1834,
 1835,
 1845,
 1848,
 1873,
 1876,
 1882,
 1883,
 1884,
 1885,
 1892,
 1894,
 1895,
 1907,
 1909,
 1911,
 1912,
 1916,
 1917,
 1918,
 1920,
 1921,
 1923,
 1927,
 1944,
 1945,
 1947,
 1950,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1965,
 1967,
 1968,
 1969,
 1970,
 1974,
 1982,
 1991,
 1994,
 1997,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2009,
 2010,
 2011,
 2012,
 2013,
 2018,
 2019,
 2020,
 2021,
 2023,
 2028,
 2046,
 2052,
 2053,
 2054,
 2058,
 2059,
 2060,
 2064,
 2065,
 2067,
 2072,
 2076,
 2078,
 2080,
 2081,
 2082,
 2083,
 2085,
 2087,
 2088,
 2089,
 2090,
 2094,
 2096,
 2097,
 2100,
 2105,
 2108,
 2109,
 2110,
 2111,
 2114,
 2115,
 2116,
 2117,
 2118,
 2122,
 2123,
 2124,
 2125,
 2126,
 2133,
 2134,
 2135,
 2136,
 2137,
 2138,
 2139,
 2140,
 2141,
 2142,
 2143,
 2144,
 2145,
 2146,
 2150,
 2153,
 2160,
 2161,
 2167,
 2174,
 2176,
 2186,
 2193,
 2194,
 2231,
 2232,
 2243,
 2245,
 2247,
 2248,
 2249,
 2253,
 2268,
 2273,
 2278,
 2279,
 2288,
 2289,
 2291,
 2294,
 2296,
 2297,
 2300,
 2301,
 2302,
 2311,
 2312,
 2313,
 2318,
 2321,
 2324,
 2325,
 2329,
 2334,
 2335,
 2336,
 2338,
 2340,
 2346,
 2352,
 2353,
 2355,
 2359,
 2360,
 2361,
 2366,
 2367,
 2369,
 2371,
 2375,
 2376,
 2378,
 2379,
 2380,
 2384,
 2387,
 2391,
 2393,
 2394,
 2395,
 2396,
 2398,
 2402,
 2403,
 2404,
 2405,
 2406,
 2407,
 2409,
 2410,
 2411,
 2412,
 2413,
 2414,
 2416,
 2420,
 2421,
 2422,
 2423,
 2424,
 2427,
 2428,
 2431,
 2433,
 2447,
 2450,
 2454,
 2455,
 2459,
 2463,
 2467,
 2468,
 2470,
 2471,
 2474,
 2476,
 2478,
 2485,
 2490,
 2496,
 2501,
 2502,
 2505,
 2513,
 2517,
 2518,
 2527,
 2528,
 2529,
 2530,
 2532,
 2533,
 2539,
 2541,
 2542,
 2565,
 2567,
 2571,
 2572,
 2580,
 2581,
 2583,
 2594,
 2596,
 2598,
 2599,
 2600,
 2605,
 2606,
 2616,
 2617,
 2622,
 2628,
 2640,
 2641,
 2642,
 2643,
 2648,
 2657,
 2662,
 2664,
 2671,
 2672,
 2683,
 2686,
 2687,
 2688,
 2690,
 2692,
 2694,
 2699,
 2700,
 2701,
 2702,
 2706,
 2707,
 2710,
 2712,
 2713,
 2716,
 2717,
 2718,
 2719,
 2720,
 2722,
 2723,
 2724,
 2728,
 2731,
 2734,
 2735,
 2739,
 ...]

In [70]:
def get_similar(movieId, rating, corrMatrix):
    try:
        similar_ratings = corrMatrix[movieId]*(rating-2.5)
#     similar_ratings = similar_ratings.sort_values(ascending=False)
        return similar_ratings
    except:
        pass
#     chua co danh gia nao cho bo phim nay

In [17]:
list_rating = [(1, 4),(3,4),(6,4)]

In [72]:
similar_movies = pd.DataFrame()
for movieId, rating in list_rating:
    similar_movies = similar_movies.append(get_similar(movieId, rating, corrMatrix), ignore_index=True)

similar_movies.head()

,1,2,3,5,6,7,9,10,11,12,...,166461,166528,166643,168250,168252,174055,176371,177765,179819,187593
0,1.500000,0.360277,0.258923,0.311302,0.294014,0.230209,0.270042,0.286376,0.279346,0.236356,...,-0.006123,0.101492,0.169962,0.034091,0.089869,0.091019,0.083153,-0.020857,0.080710,0.033660
1,0.258923,0.265896,1.500000,0.525091,0.265033,0.500372,0.434293,0.191933,0.243192,0.251057,...,-0.052725,0.008394,0.031743,-0.046154,0.005554,0.072530,0.055917,-0.059804,0.044320,-0.058921
2,0.294014,0.229810,0.265033,0.308292,1.500000,0.216343,0.258549,0.368870,0.271002,0.181663,...,-0.080450,0.175782,0.010716,0.059815,0.167170,0.121433,0.184710,-0.091251,0.025065,0.059528

In [73]:
similar_movies_index = similar_movies.sum().sort_values(ascending=False).head(10)

In [74]:
similar_movies_index

6      2.059047
1      2.052937
3      2.023956
95     1.429933
648    1.396808
780    1.394993
788    1.376898
736    1.359097
494    1.322588
786    1.295244
dtype: float64

### Store corr matrix above in to corrMatrix.npz file

In [75]:
from numpy import asarray
from numpy import savez_compressed
savez_compressed('corrMatrix.npz', corrMatrix)

In [76]:
from numpy import load
dict_data = load('corrMatrix.npz')
data = dict_data['arr_0']

In [77]:
data.shape

(2269, 2269)

In [102]:
corrMatrix_new = pd.DataFrame(data, columns=columns_name, index=columns_name)

In [103]:
corrMatrix_new.head()

movieId,1,2,3,5,6,7,9,10,11,12,...,166461,166528,166643,168250,168252,174055,176371,177765,179819,187593
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.240184,0.172615,0.207535,0.196009,0.153473,0.180028,0.190917,0.186230,0.157571,...,-0.004082,0.067661,0.113308,0.022727,0.059913,0.060680,0.055435,-0.013904,0.053806,0.022440
2,0.240184,1.000000,0.177264,0.187452,0.153206,0.113378,-0.020570,0.279952,0.199458,0.112815,...,0.049493,0.182158,0.051473,0.038195,0.189964,0.062922,0.154421,-0.020266,0.116819,0.121648
3,0.172615,0.177264,1.000000,0.350061,0.176689,0.333582,0.289529,0.127955,0.162128,0.167371,...,-0.035150,0.005596,0.021162,-0.030769,0.003703,0.048353,0.037278,-0.039869,0.029547,-0.039280
5,0.207535,0.187452,0.350061,1.000000,0.205528,0.414996,0.316428,0.098478,0.180574,0.179912,...,0.029937,0.009773,-0.005367,-0.004777,-0.021491,-0.003613,0.000310,-0.039893,-0.000993,-0.039304
6,0.196009,0.153206,0.176689,0.205528,1.000000,0.144228,0.172366,0.245913,0.180668,0.121109,...,-0.053633,0.117188,0.007144,0.039876,0.111446,0.080956,0.123140,-0.060834,0.016710,0.039685

In [80]:
user_ratings_test.head(20)

movieId,1,2,3,5,6,7,9,10,11,12,...,166461,166528,166643,168250,168252,174055,176371,177765,179819,187593
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,4.0,5.0,5.0,4.0,4.0,0.0,3.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,4.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,5.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,3.5,3.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
19,4.0,3.0,3.0,0.0,0.0,2.0,0.0,2.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
true_user_ratings = user_ratings_test.loc[3].to_numpy()

### Create funtion to evaluate accurate of matrix just make

In [89]:
def get_similar(movieId, rating, corrMatrix_new, movies):
    try:
        similar_ratings = corrMatrix_new[movieId]*(rating-2.5)
        similar_ratings = similar_ratings.sort_values(ascending=False)
        return similar_ratings
    except:
        pass

In [31]:
def get_list_rating(user_id):
    true_user_ratings = user_ratings_test.loc[user_id].to_numpy()
    full_ratings = []
    for i in range(0, len(true_user_ratings)):
        if true_user_ratings[i] != 0:
            full_ratings.append((columns_name[i], true_user_ratings[i]))
    split_ratings = []
    for i in range(0, int(0.1*len(full_ratings))):
        split_ratings.append(full_ratings[i])
    return split_ratings

In [36]:
def predict(list_ratings):
    similar_movies = pd.DataFrame()
    for movie,rating in list_ratings:
        similar_movies = similar_movies.append(get_similar(movie,rating,corrMatrix_new, movies),ignore_index = True)
    return (similar_movies.sum().sort_values(ascending=False) + 2.5).to_numpy()

In [37]:
def cal_accurate(true_user_ratings, predict):
    tong = 0
    dem = 0
    for i in range(0, len(true_user_ratings)):
        if true_user_ratings[i]!=0:
            tong = tong + 1
            if(predict[i] > 2.5 and true_user_ratings[i] >= 2.5 ) or (predict[i] <= 2.5 and true_user_ratings[i] < 2.5 ):
                dem = dem + 1
    return dem/tong

In [38]:
def get_average_accurate():
    accurate = []
    for i in range(1, 21):
        true_user_ratings = user_ratings_test.loc[i].to_numpy()
        accurate.append(cal_accurate(true_user_ratings, predict(get_list_rating(i))))
    return accurate

In [39]:
np.mean(get_average_accurate())

0.8635867862918281

In [40]:
from sklearn.metrics import mean_absolute_error

In [41]:
mean_absolute_error(predict(get_list_rating(1)), user_ratings_test.loc[1].to_numpy())

6.165204528069048

###  Create function to get recommend movies for uer

In [92]:
def recommend(list_rating, corrMatrix_new, movies):
    similar_movies = pd.DataFrame()
    for movieId, rating in list_rating:
        similar_movies = similar_movies.append(get_similar(movieId, rating, corrMatrix_new, movies), ignore_index=True)
    list_index_movies = similar_movies.sum().sort_values(ascending=False).head(10).index
    list_movie_recommend = []
    for id in list_index_movies:
        list_movie_recommend.append(movies.loc[movies['movieId']==id])
    return list_movie_recommend

In [115]:
list_recommend = recommend([(1,4), (2,4)], corrMatrix_new, movies)

In [116]:
for i in list_recommend:
    print(i.iloc[0])

movieId                                                       1
title                                          Toy Story (1995)
genres              Adventure Animation Children Comedy Fantasy
poster_url    https://image.tmdb.org/t/p/w500//uXDfjJbdP4ijW...
overview      Led by Woody, Andy's toys live happily in his ...
keyword       toy stori (1995) toy stori (1995) toy stori (1...
Name: 0, dtype: object
movieId                                                       2
title                                            Jumanji (1995)
genres                               Adventure Children Fantasy
poster_url    https://image.tmdb.org/t/p/w500//6aGn2X51bahFo...
overview      When siblings Judy and Peter discover an encha...
keyword       jumanji (1995) jumanji (1995) jumanji (1995) a...
Name: 1, dtype: object
movieId                                                     364
title                                     Lion King, The (1994)
genres          Adventure Animation Children Drama Musical IMAX
poster_url    https://image.tmdb.org/t/p/w500//sKCr78MXSLixw...
overview      A young lion prince is cast out of his pride b...
keyword       lion king, the (1994) lion king, the (1994) li...
Name: 322, dtype: object
movieId                                                    3114
title                                        Toy Story 2 (1999)
genres              Adventure Animation Children Comedy Fantasy
poster_url    https://image.tmdb.org/t/p/w500//eVGu0zsezaSCu...
overview      Andy heads off to Cowboy Camp, leaving his toy...
keyword       toy stori 2 (1999) toy stori 2 (1999) toy stor...
Name: 2355, dtype: object
movieId                                                     367
title                                          Mask, The (1994)
genres                              Action Comedy Crime Fantasy
poster_url    https://image.tmdb.org/t/p/w500//zJUvFtaGPQkcQ...
overview      When timid bank clerk Stanley Ipkiss discovers...
keyword       mask, the (1994) mask, the (1994) mask, the (1...
Name: 325, dtype: object
movieId                                                     480
title                                      Jurassic Park (1993)
genres                         Action Adventure Sci-Fi Thriller
poster_url    https://image.tmdb.org/t/p/w500//b1xCNnyrPebIc...
overview      A wealthy entrepreneur secretly creates a them...
keyword       jurass park (1993) jurass park (1993) jurass p...
Name: 418, dtype: object
movieId                                                     500
title                                     Mrs. Doubtfire (1993)
genres                                             Comedy Drama
poster_url    https://image.tmdb.org/t/p/w500//shHrSmXS5140o...
overview      Loving but irresponsible dad Daniel Hillard, e...
keyword       mrs. doubtfir (1993) mrs. doubtfir (1993) mrs....
Name: 436, dtype: object
movieId                                                     595
title                               Beauty and the Beast (1991)
genres          Animation Children Fantasy Musical Romance IMAX
poster_url    https://image.tmdb.org/t/p/w500//7oCAPOphDKpIa...
overview      Follow the adventures of Belle, a bright young...
keyword       beauti and the beast (1991) beauti and the bea...
Name: 512, dtype: object
movieId                                                     588
title                                            Aladdin (1992)
genres              Adventure Animation Children Comedy Musical
poster_url    https://image.tmdb.org/t/p/w500//oakAd8syy7jNQ...
overview      Princess Jasmine grows tired of being forced t...
keyword       aladdin (1992) aladdin (1992) aladdin (1992) a...
Name: 506, dtype: object
movieId                                                    2054
title                           Honey, I Shrunk the Kids (1989)
genres                 Adventure Children Comedy Fantasy Sci-Fi
poster_url    https://image.tmdb.org/t/p/w500//yRJk5uTiqQ0IP...
overview      The scientist father of a teenage girl and boy...
keyword       honey, i shrunk the kid (1989) honey, i shrunk...
Name: 1522, dtype: object